#c1 {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    background-image: url("circle.png");
}
#control #dots #pi #error {
    display: flex;
}
#canvas-wrap{
    position:relative;
    width: 600px;
    height: 600px
}

.lds-dual-ring {
    position:absolute;
    /*display: inline-block;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*z-index: 100;*/
    top: 260px;
    left: 260px;

}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
